.rotate {
  -webkit-animation: rotation 15s infinite linear;
          animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(359deg);
            transform: rotateY(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(359deg);
            transform: rotateY(359deg);
  }
}

@media only screen and (min-width: 340px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
  }
  body {
    background-color: #f3fbff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  body.dark {
    background-image: url(../assets/gifs/matrix.gif);
  }
  nav {
    position: relative;
    background-color: #96e7f5;
    opacity: 0.8;
    width: 100%;
  }
  body.dark nav {
    background: #222222;
  }
  .logoLeft {
    text-align: center;
  }
  .logoLeft img {
    position: relative;
    width: 15%;
    margin-top: 10px;
  }
  .switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: absolute;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    margin-left: 293px;
    margin-top: -30px;
  }
  .switch::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0t;
    right: unset;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: #000;
  }
  .switch.active::after {
    right: 0;
    left: unset;
  }
  .switch span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: #ffffff;
  }
  .barsMenu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -20%;
    left: 7%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  .barsMenu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #acabab;
    margin-top: 6px;
    -webkit-transform-origin: 0px 100%;
            transform-origin: 0px 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .activeline1BMenu {
    -webkit-transform: rotate(45deg) translate(-1px, 1px);
            transform: rotate(45deg) translate(-1px, 1px);
  }
  .activeline2BMenu {
    -webkit-transform: rotate(45deg) translate(-8px, -4px);
            transform: rotate(45deg) translate(-8px, -4px);
  }
  .activeline3BMenu {
    -webkit-transform: rotate(-45deg) translate(-3px, 2px);
            transform: rotate(-45deg) translate(-3px, 2px);
  }
  aside {
    background: #dff6ff;
    border-radius: 10px;
    width: 150px;
    position: absolute;
    overflow-y: hidden;
    left: -160px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body.dark aside {
    background: #222222;
  }
  .aside:hover {
    overflow-y: auto;
  }
  .desplegar {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .option {
    padding: 1px;
    color: black;
  }
  .option li {
    padding: 3px;
    margin-top: -12px;
    margin-left: 15px;
    list-style: none;
    font-weight: 900;
  }
  body.dark .option li {
    color: white;
  }
  .window-pop-up {
    background: #06283d;
    border-radius: 10PX;
    padding: 10PX;
    position: absolute;
    margin-left: 43%;
    margin-right: 5%;
    display: none;
  }
  body.dark .window-pop-up {
    background: #222222;
  }
  .window-pop-up ul {
    list-style: none;
    color: #dff6ff;
  }
  .window-pop-up li {
    padding: 3px;
  }
  #close img {
    width: 10%;
  }
  .node {
    text-align: center;
    margin-top: 20px;
  }
  .node img {
    width: 30%;
  }
  .container-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-top: 10%;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
            box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../assets/gifs/estrellas.gif) no-repeat center center;
  }
  .view .mask,
  .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .view img {
    display: block;
    position: relative;
  }
  .view h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
  }
  .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
  }
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
            box-shadow: 0 0 1px #000;
  }
  .view a.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
  }
  .view img {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
  .view .mask {
    background-color: rgba(77, 44, 35, 0.5);
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateY(-200px) rotate(180deg);
            transform: translateY(-200px) rotate(180deg);
  }
  .view h2 {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .view p {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .view a.info {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .view:hover img {
    -webkit-transform: rotate(720deg) scale(0);
            transform: rotate(720deg) scale(0);
    opacity: 0;
  }
  .view:hover .mask {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .view:hover h2 {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .view:hover p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .view:hover a.info {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .aboutMe {
    margin-top: 10px;
    text-align: center;
  }
  .aboutMe h1 {
    color: #1363df;
  }
  body.dark .aboutMe h1 {
    color: white;
  }
  .aboutMe p {
    text-align: justify;
    margin: 10px;
  }
  body.dark .aboutMe p {
    color: white;
  }
  .icons {
    text-align: center;
  }
  .icons img {
    width: 10%;
    border: 1px solid #47b5ff;
    border-radius: 95%;
    margin: 20px;
  }
  body.dark .icons img {
    border: 1px solid white;
    background: white;
  }
  .titleSkills {
    margin-top: 30px;
    text-align: center;
    color: #1363df;
  }
  body.dark .titleSkills {
    color: white;
  }
  .skills {
    margin: 10px;
    margin-top: 15px;
    text-align: center;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    background: #dff6ff;
    border-radius: 10px;
  }
  body.dark .skills {
    background: #acabab;
  }
  .skills h3 {
    padding: 10px;
    text-align: start;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url(../assets/gifs/img/fondotext.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .briefcaf {
    text-align: center;
    position: relative;
    margin-top: 30px;
    color: #1363df;
  }
  body.dark .briefcaf {
    color: white;
  }
  #containerCub {
    margin-left: 20%;
    -webkit-perspective: 800px;
            perspective: 800px;
    width: 200px;
    margin-top: 50px;
  }
  #cub {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 200px;
    height: 200px;
  }
  #cub p {
    visibility: hidden;
  }
  .face {
    position: absolute;
  }
  .face img {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 3px 3px 5px 2px #acabab;
            box-shadow: 3px 3px 5px 2px #acabab;
  }
  .front {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
  }
  .back {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
  }
  .left {
    -webkit-transform: translateX(-50px) rotateY(90deg);
            transform: translateX(-50px) rotateY(90deg);
  }
  .right {
    -webkit-transform: translateX(50px) rotateY(90deg);
            transform: translateX(50px) rotateY(90deg);
  }
  .carrusel {
    visibility: hidden;
  }
  .container-form {
    margin-top: -12%;
  }
  .container-form h1 {
    text-align: center;
    color: #1363df;
  }
  body.dark .container-form h1 {
    color: white;
  }
  .form {
    margin-top: 40px;
    position: relative;
    margin: 10px;
    text-align: center;
    background: #47b5ff;
    border-radius: 10px;
  }
  body.dark .form {
    background: #222222;
  }
  .form label {
    display: block;
    position: relative;
    text-align: start;
    margin-top: 10px;
    padding: 10px;
  }
  body.dark .form label {
    color: white;
  }
  .form input {
    position: relative;
    margin-left: -5px;
    padding: 5px;
    width: 90%;
  }
  .form textarea {
    margin: 5px;
    width: 92%;
  }
  .form .btn {
    position: relative;
    background: #06283d;
    color: #1363df;
    width: 24%;
    height: 10%;
    padding: 5px;
    font-size: 130%;
    font-weight: 600;
    margin: 15px;
  }
  body.dark .form .btn {
    color: white;
  }
  footer {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
  }
  footer p {
    color: #06283d;
    font-weight: 900;
    text-shadow: -5px -8px 2px #47b5ff;
  }
  body.dark footer p {
    color: white;
    text-shadow: -5px -8px 2px #acabab;
  }
}

@media only screen and (min-width: 360px) {
  .switch {
    right: 2%;
    margin-top: -9%;
  }
  .barsMenu {
    top: -18%;
  }
  aside {
    width: 165px;
    left: -170px;
  }
  .window-pop-up {
    margin-left: 50%;
    margin-right: 1%;
  }
  .container-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form label {
    margin-left: 1.5%;
  }
}

@media only screen and (min-width: 375px) {
  #containerCub {
    margin-left: 25%;
  }
}

@media only screen and (min-width: 414px) {
  .view {
    width: 100%;
  }
  .view .mask, .content {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .switch {
    margin-top: -8%;
  }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .switch::after {
    width: 30px;
    height: 30px;
  }
  .barsMenu {
    margin-top: 1%;
  }
  .barsMenu span {
    width: 180%;
    height: 5px;
    margin-top: 10px;
  }
  .activeline1BMenu {
    -webkit-transform: rotate(45deg) translate(-4px, 1px);
            transform: rotate(45deg) translate(-4px, 1px);
  }
  .activeline2BMenu {
    -webkit-transform: rotate(45deg) translate(-14px, -10px);
            transform: rotate(45deg) translate(-14px, -10px);
  }
  .activeline3BMenu {
    -webkit-transform: rotate(-45deg) translate(-3px, 2px);
            transform: rotate(-45deg) translate(-3px, 2px);
  }
  aside {
    width: 245px;
    margin-left: -13%;
  }
  aside li {
    font-size: 160%;
  }
  .window-pop-up li {
    font-size: 150%;
  }
  .view {
    height: 300px;
    margin-top: 5%;
  }
  .view h2 {
    font-size: 30px;
  }
  .view p {
    margin-top: 30px;
    font-size: 22px;
  }
  .view a.info {
    margin-top: 30px;
    font-size: 30px;
  }
  .aboutMe {
    margin-top: 10%;
  }
  .aboutMe h1 {
    font-size: 200%;
  }
  .aboutMe p {
    margin-top: 5%;
    font-size: 150%;
  }
  .titleSkills {
    margin-top: 10%;
    font-size: 200%;
  }
  .skills {
    margin-top: 5%;
  }
  .skills h3 {
    font-size: 150%;
  }
  .briefcaf {
    margin-top: 10%;
    font-size: 135%;
  }
  #containerCub {
    margin-top: 15%;
    margin-left: 33%;
  }
  #containerCub img {
    width: 200px;
    height: 200px;
  }
  .container-form {
    margin-top: 10%;
  }
  .front {
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
  .back {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
  .left {
    -webkit-transform: translateX(-100px) rotateY(90deg);
            transform: translateX(-100px) rotateY(90deg);
  }
  .right {
    -webkit-transform: translateX(100px) rotateY(90deg);
            transform: translateX(100px) rotateY(90deg);
  }
  .container-form {
    margin-top: 20%;
    margin-left: 15%;
  }
  .container-form h1 {
    font-size: 200%;
    margin-right: 12%;
  }
  .container-form .form {
    margin-top: 5%;
    width: 80%;
  }
  .container-form label {
    font-size: 150%;
  }
  .container-form input {
    font-size: 130%;
  }
  .container-form textarea {
    font-size: 150%;
  }
}

@media only screen and (min-width: 768px) {
  aside {
    margin-left: -10%;
  }
  .container-form h1 {
    margin-right: 15%;
  }
  .container-form label {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 800px) {
  .view {
    margin: 30px;
    margin-top: -1%;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .switch {
    margin-top: -7%;
  }
  .barsMenu {
    margin-top: 2.5%;
    margin-left: -4%;
  }
  .barsMenu span {
    width: 300%;
    height: 8px;
  }
  .activeline1BMenu {
    -webkit-transform: rotate(45deg) translate(-4px, -16px);
            transform: rotate(45deg) translate(-4px, -16px);
  }
  .activeline2BMenu {
    -webkit-transform: rotate(45deg) translate(-18px, -30px);
            transform: rotate(45deg) translate(-18px, -30px);
  }
  .activeline3BMenu {
    -webkit-transform: rotate(-45deg) translate(3px, 20px);
            transform: rotate(-45deg) translate(3px, 20px);
  }
  aside {
    margin-left: -7.5%;
  }
  .window-pop-up {
    margin-right: 1%;
    margin-left: 70%;
  }
  #close img {
    position: relative;
  }
  .container-view {
    margin-left: -27%;
  }
  .view {
    margin-top: -3%;
    width: 55%;
  }
  .icons {
    margin-top: -36%;
    margin-left: 79%;
  }
  .icons img {
    margin: 50px;
    width: 28%;
    display: block;
  }
  .skills h3 {
    font-size: 200%;
    text-align: center;
  }
  .briefcaf {
    margin-top: 5%;
  }
  #cub {
    margin-left: 50%;
    margin-top: -30%;
  }
  #cub img {
    width: 300px;
    height: 300px;
  }
  .front {
    -webkit-transform: translateZ(151px);
            transform: translateZ(151px);
  }
  .back {
    -webkit-transform: translateZ(-151px);
            transform: translateZ(-151px);
  }
  .left {
    -webkit-transform: translateX(-150px) rotateY(90deg);
            transform: translateX(-150px) rotateY(90deg);
  }
  .right {
    -webkit-transform: translateX(150px) rotateY(90deg);
            transform: translateX(150px) rotateY(90deg);
  }
  .container-form {
    margin-top: 25%;
  }
}

@media only screen and (min-width: 1280px) {
  aside {
    left: -12%;
  }
  .window-pop-up li {
    font-size: 200%;
  }
  .view {
    margin-top: -8%;
    width: 600px;
    margin-left: -250px;
  }
  .icons {
    margin-top: -20%;
    margin-left: 50%;
  }
  .icons img {
    width: 10%;
    display: inline;
  }
  .aboutMe {
    margin-top: 100px;
    padding: 20px;
  }
  .titleSkills {
    margin-top: 25px;
  }
  .skills {
    margin: 30px;
  }
}

@media only screen and (min-width: 1400px) {
  aside {
    left: -10%;
  }
  .container-view {
    margin-left: -32%;
  }
}

@media only screen and (min-width: 1600px) {
  .switch {
    margin-top: -9%;
  }
  .barsMenu {
    visibility: hidden;
  }
  aside {
    background: none;
    width: 43%;
    top: 8%;
    margin-left: 10%;
  }
  aside li {
    font-size: 180%;
    color: #06283d;
    display: inline-block;
  }
  aside li:hover {
    color: orangered;
  }
  body.dark aside li:hover {
    color: orangered;
  }
  .view {
    margin-top: -6%;
  }
  .window-pop-up {
    margin-left: 10%;
    margin-right: 65%;
  }
  .window-pop-up ul {
    margin-top: -45px;
  }
  .window-pop-up li {
    position: relative;
    margin-left: 13%;
  }
  .node img {
    width: 10%;
  }
  .container-view {
    margin-top: 12%;
    margin-left: -650px;
  }
  .container-view .view {
    height: 400px;
  }
  .container-view .mask {
    margin-top: 7px;
    height: 96%;
  }
  .container-view img {
    width: 50%;
    height: 97.5%;
  }
  .icons {
    position: relative;
    margin-top: -47%;
    margin-left: 55%;
    width: 40%;
  }
  .icons img {
    width: 9%;
    margin: 40px;
  }
  .icons img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .aboutMe {
    margin-left: 40%;
  }
  .aboutMe h1 {
    font-size: 300%;
  }
  .aboutMe p {
    font-size: 200%;
  }
  .titleSkills {
    margin-top: 6%;
  }
  .skills {
    -webkit-column-count: 4;
            column-count: 4;
  }
  .skills h3 {
    padding: 10px;
  }
  #containerCub {
    margin-top: 10%;
    margin-left: 60%;
  }
  .carrusel {
    margin-top: -12%;
    margin-left: 10%;
    visibility: visible;
    width: 500px;
    height: 300px;
  }
  .carrusel .btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #img-carrusel {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 10px 2px #47b5ff;
            box-shadow: 0px 0px 10px 2px #47b5ff;
    border-radius: 10px;
  }
  .btn-wrapper img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #retroceder, #avanzar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 500px;
    width: 70px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    background-color: transparent;
  }
  #retroceder img:hover, #avanzar img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #retroceder {
    margin-top: -.5%;
    margin-left: -5%;
  }
  #avanzar {
    margin-top: -.5%;
    margin-left: 32%;
  }
  .container-form {
    margin-top: 5%;
  }
}
/*# sourceMappingURL=styles.css.map */