
//----------------------COLORS---------------------------------------

$darkGray: #222222;
$lightGray: #c8c8c8;
$lightGrayHover: #acabab;
$blue0: #dff6ff;
$blue1: #96e7f5;
$blue2: #47b5ff;
$blue3: #1363df;
$blue4: #06283d;

//-------------ROTATE---------------------
.rotate {
  animation: rotation 15s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

//...............................................................................
//---------------------------SMALL PHONE-----------------------------------------
//...............................................................................

@media only screen and (min-width: 340px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background-color: #f3fbff;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease all;
    &.dark {
      background-image: url(../assets/gifs/matrix.gif);
    }
  }

  nav {
    position: relative;
    background-color: $blue1;
    opacity: 0.8;
    width: 100%;
    body.dark & {
      background: $darkGray;
    }
    }
   
  //-----------LOGO LEFT ROTATE-----------
  .logoLeft {
    text-align: center;
    & img {
      position: relative;
      width: 15%;
      margin-top: 10px;
    }
  }

  //------------BUTTON DARK MODE--------------

  .switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: absolute;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-left: 293px;
    margin-top: -30px;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0t;
      right: unset;
      border-radius: 100px;
      transition: 0.3s ease all;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active {
      background: orange;
      color: #000;
      &::after {
        right: 0;
        left: unset;
      }
    }
    span {
      width: 20px;
      height: 20px;
      line-height: 20px;
      display: block;
      background: none;
      color: #ffffff;
    }
  }

  // CREATE BARS TO MENU
  .barsMenu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -20%;
    left: 7%;
    transform: translate(-50%, 50%);
  }
  .barsMenu span {
    display: block;
    width: 100%;
    height: 2px;
    background: $lightGrayHover;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  .activeline1BMenu {
    transform: rotate(45deg) translate(-1px, 1px);
  }
  .activeline2BMenu {
    transform: rotate(45deg) translate(-8px, -4px);
  }
  .activeline3BMenu {
    transform: rotate(-45deg) translate(-3px, 2px);
  }
  //-------------------DROPDOWN MENU---------------------------------------------------
  aside {
    background: $blue0;
    border-radius: 10px;
    width: 150px;
    position: absolute;
    overflow-y: hidden;
    left: -160px;
    transition: 0.5s;
    body.dark &{
      background: $darkGray;
  }
  }
  .aside:hover {
    overflow-y: auto;
  }
  .desplegar {
    transform: translateX(100%);
  }
  .option {
    padding: 1px;
    color: black;
    & li {
      padding: 3px;
      margin-top: -12px;
      margin-left: 15px;
      list-style: none;
      font-weight: 900;
      body.dark &{
        color: white;
      }
    }
  }

  //------------------------------WINDOWS POP UP-------------------------------------------------

  .window-pop-up {
    background: $blue4;
    border-radius: 10PX;
    padding: 10PX;
    position: absolute;
    margin-left: 43%;
    margin-right: 5%;
    display: none;
    body.dark & {
      background: $darkGray;
    }
    & ul {
      list-style: none;
      color: $blue0;  
    }
    & li {
      padding: 3px;
    }
  }
  #close img{
    width: 10%;
  }
  
  //---------------------ABOUT ME---------------------------------------------------------------
  .node {
    text-align: center;
    margin-top: 20px;
    & img {
      width: 30%;
    }
  }
  .container-view {
    display: flex;
    justify-content: center;
    }
  .view {
    display: flex;
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-top: 10%;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../assets/gifs/estrellas.gif) no-repeat center center;
  }
  .view .mask,
  .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .view img {
    display: block;
    position: relative;
  }
  .view h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
  }
  .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
  }
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
  }
  .view a.info:hover {
    box-shadow: 0 0 5px #000;
  }
  //---------------------EFECT ABOUT ME---------------------------------------
  .view img {
    transition: all 0.5s ease-out;
    opacity: 1;
  }
  .view .mask {
    background-color: rgba(77, 44, 35, 0.5);
    transform: rotate(0deg) scale(1);
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateY(-200px) rotate(180deg);
  }
  .view h2 {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
  .view p {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
  .view a.info {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
  //--------------------------EFECT HOVER ABOUT ME----------------------
  .view:hover img {
    transform: rotate(720deg) scale(0);
    opacity: 0;
  }
  .view:hover .mask {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
    transition-delay: 0.4s;
  }
  .view:hover h2 {
    transform: translateY(0px);
    transition-delay: 0.7s;
  }
  .view:hover p {
    transform: translateY(0px);
    transition-delay: 0.6s;
  }
  .view:hover a.info {
    transform: translateY(0px);
    transition-delay: 0.5s;
  }
  .aboutMe {
    margin-top: 10px;
    text-align: center;
    & h1 {
      color: $blue3;
      body.dark & {
        color: white;
      }
    }
    & p {
      text-align: justify;
      margin: 10px;
      body.dark & {
        color: white;
      }
    }
  }

  //---------------------------------ICONS---------------------------------------------

  .icons {
    text-align: center;
    & img {
      width: 10%;
      border: 1px solid $blue2;
      border-radius: 95%;
      margin: 20px;
      body.dark & {
        border: 1px solid white;
        background: white;
      }
    }
  }

  //--------------------------------SKILLS-----------------------------------------------

  .titleSkills {
    margin-top: 30px;
    text-align: center;
    color: $blue3;
    body.dark & {
      color: white;
    }
  }
  .skills {
    margin: 10px;
    margin-top: 15px;
    text-align: center;
    column-count: 2;
    column-gap: 20px;
    background: $blue0;
    border-radius: 10px;
    body.dark & {
      background: $lightGrayHover;
    }
    & h3 {
      padding: 10px;
      text-align: start;
      letter-spacing: 0;
      padding: 0.25em 0 0.325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
      // Clip Background Image
      background: url(../assets/gifs/img/fondotext.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
      //Animate Background Image
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 80s linear infinite;
      //Activate hardware acceleration for smoother animations
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
  }
  // Animate Background Image
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

//------------------------------------------WORKS------------------------------------------------

.briefcaf {
  text-align: center;
  position: relative;
  margin-top: 30px;
  color: $blue3;
  body.dark & {
    color: white;
  }
}
//---------------------------------cub--------------------------------------------------------------
#containerCub {
  margin-left: 20%;
  perspective: 800px;
  width: 200px;
  margin-top: 50px;
}
#cub {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  // transform: rotateY(45deg);
  & p {
    visibility: hidden;
  }
}
.face {
  position: absolute;
  & img {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 5px 2px $lightGrayHover;
  }
}
//FORM
.front {
  transform: translateZ(50px); 
}
//POKEAPI
.back {
  transform: translateZ(-50px); 
}
//RICK AND MORTY
.left {
  transform: translateX(-50px) rotateY(90deg);
}
// POND HOUSE
.right {
  transform: translateX(50px) rotateY(90deg);
}
//------------------------CAROUSEL---------------------------------------------

.carrusel{
  visibility: hidden;
}

//------------------------form------------------------------------------------

.container-form {
  margin-top: -12%;
  & h1 {
    text-align: center;
    color: $blue3;
    body.dark & {
      color: white;
    }
  }
}

.form {
  margin-top: 40px;
  position: relative;
  margin: 10px;
  text-align: center;
  background: $blue2;
  border-radius: 10px;
  body.dark & {
    background: $darkGray;
  }
  & label {
    display: block;
    position: relative;
    text-align: start;
    margin-top: 10px;
    padding: 10px;
    body.dark & {
      color: white;
    }
  }
  & input {
   position: relative;
   margin-left: -5px;
   padding: 5px;
   width: 90%;
  }
  & textarea {
    margin: 5px;
    width: 92%;
  }
  & .btn {
    position: relative;
    background: $blue4;
    color: $blue3;
    width: 24%;
    height: 10%;
    padding: 5px;
    font-size: 130%;
    font-weight: 600;
    margin: 15px;
    body.dark & {
      color: white;
    }
  }
}

//---------------------------FOOTER---------------------------------------------------------------------

footer {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  & p {
    color: $blue4;
    font-weight: 900;
  text-shadow: -5px -8px 2px $blue2;
  body.dark & {
    color: white;
    text-shadow: -5px -8px 2px $lightGrayHover;
  }
  }
}

}
//.....................................................................................
//----------------------MEDIUM PHONE---------------------------------------------------
//.....................................................................................

@media only screen and (min-width: 360px) {
  .switch {
    right: 2%;
    margin-top: -9%;
  }
  .barsMenu {
    top: -18%
  }
  aside {
    width: 165px;
    left: -170px;
  }
  .window-pop-up {
    margin-left: 50%;
    margin-right: 1%;
  }
  .container-view {
  display: flex;
  justify-content: center;
  }
 .form {
  & label {
    margin-left: 1.5%;
  }
}

}
//......................................................................................
//------------------------BIG PHONE-----------------------------------------------------
//......................................................................................

@media only screen and (min-width: 375px) {
  #containerCub{
    margin-left: 25%;
  }
}
@media only screen and (min-width: 414px) {
  .view {
    width: 100%;
  }
  .view .mask, .content {
  width: 100%;
  height: 100%;
}


}
@media only screen and (min-width: 600px) {
  .switch {
    margin-top: -8%;
    & span {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    &::after {
      width: 30px;
      height: 30px;
    }
  }
  .barsMenu {
    margin-top: 1%;
    & span {
      width: 180%;
      height: 5px;
      margin-top: 10px;
    }
  }
  .activeline1BMenu {
    transform: rotate(45deg) translate(-4px, 1px);
  }
  .activeline2BMenu {
    transform: rotate(45deg) translate(-14px, -10px);
  }
  .activeline3BMenu {
    transform: rotate(-45deg) translate(-3px, 2px);
  }
  aside {
    width: 245px;
    margin-left: -13%;
    & li {
      font-size: 160%;
    }
  }
  .window-pop-up {
    & li {
      font-size: 150%;
    }
  }
  .view {
    height: 300px;
    margin-top: 5%;
    & h2 {
      font-size: 30px;
    }
    & p {
      margin-top: 30px;
      font-size: 22px;
    }
    &  a.info {
      margin-top: 30px;
      font-size: 30px;
    }
  }
  .aboutMe {
    margin-top: 10%;
    & h1 {
      font-size: 200%;
    }
    & p {
      margin-top: 5%;
      font-size: 150%;
    }
  }
  .titleSkills {
    margin-top: 10%;
    font-size: 200%;
  }
  .skills {
    margin-top: 5%;
    & h3 {
      font-size: 150%;
    }
  }
  .briefcaf {
    margin-top: 10%;
    font-size: 135%;
  }
  #containerCub {
    margin-top: 15%;
    margin-left: 33%;
    & img {
      width: 200px;
      height: 200px;
    }
  }
  .container-form {
    margin-top: 10%;
  }
  //FORM
.front {
  transform: translateZ(100px); 
}
//POKEAPI
.back {
  transform: translateZ(-100px); 
}
//RICK AND MORTY
.left {
  transform: translateX(-100px) rotateY(90deg);
}
// POND HOUSE
.right {
  transform: translateX(100px) rotateY(90deg);
}
.container-form {
  margin-top: 20%;
  margin-left: 15%;
  & h1 {
    font-size: 200%;
    margin-right: 12%;
  }
  & .form {
    margin-top: 5%;
    width: 80%;
  }
  & label {
    font-size: 150%;
  }
  & input {
    font-size: 130%;
  }
  & textarea {
    font-size: 150%;
  }
}

}
//......................................................................................
//---------------------------TABLETS----------------------------------------------------
//......................................................................................


@media only screen and (min-width: 768px) {
  aside {
    margin-left: -10%;
  }
  .container-form {
    & h1 {
      margin-right: 15%;
    }
    & label {
      margin-left: 3%;
    }
  }

}

@media only screen and (min-width: 800px) {
  .view {
    margin: 30px;
    margin-top: -1%;
    width: 100%
  }
 

}
@media only screen and (min-width: 1024px) {
  .switch {
    margin-top: -7%;
  }
  .barsMenu {
    margin-top: 2.5%;
    margin-left: -4%;
    & span {
      width: 300%;
      height: 8px;
    }
  }
  .activeline1BMenu {
    transform: rotate(45deg) translate(-4px, -16px);
  }
  .activeline2BMenu {
    transform: rotate(45deg) translate(-18px, -30px);
  }
  .activeline3BMenu {
    transform: rotate(-45deg) translate(3px, 20px);
  }
  aside {
    margin-left: -7.5%;
  }
  .window-pop-up {
    margin-right: 1%;
    margin-left: 70%;
  }
  #close img {
    position: relative;  
  }
  .container-view {
    margin-left: -27%;
  }
  .view {
    margin-top: -3%;
    width: 55%;
  }
  .icons {
    margin-top: -36%;
    margin-left: 79%;
    & img {
      margin: 50px;
      width: 28%;
      display: block;
    }
  }
  .skills h3 {
    font-size: 200%;
    text-align: center;
  }
  .briefcaf {
    margin-top: 5%;
  }
  #cub {
    margin-left: 50%;
    margin-top: -30%;
  & img {
    width: 300px;
    height: 300px;
  }
  }
  //FORM
.front {
  transform: translateZ(151px); 
}
//POKEAPI
.back {
  transform: translateZ(-151px); 
}
//RICK AND MORTY
.left {
  transform: translateX(-150px) rotateY(90deg);
}
// POND HOUSE
.right {
  transform: translateX(150px) rotateY(90deg);
}
.container-form {
  margin-top: 25%;
}


}
@media only screen and (min-width: 1280px) {
  aside {
    left: -12%;
  }
  .window-pop-up {
    & li {
      font-size: 200%;
    }
  }
  .view {
    margin-top: -8%;
    width: 600px;
    margin-left: -250px;
  }
  .icons {
    margin-top: -20%;
    margin-left: 50%;
    & img {
      width: 10%;
      display: inline;
    }
  }
  .aboutMe {
    margin-top: 100px;
    padding: 20px;
  }
  .titleSkills {
    margin-top: 25px;
  }
  .skills {
    margin: 30px;
  }


}

//---------------------------DESKTOP-----------------------------

@media only screen and (min-width: 1400px) {
  aside {
    left: -10%;
  }
  .container-view {
    margin-left: -32%;
  }

}
@media only screen and (min-width: 1600px) {
  .switch {
    margin-top: -9%;
  }
  .barsMenu {
    visibility: hidden;
  }
  aside {
    background: none;
    width: 43%;
    top: 8%;
    margin-left: 10%;
    & li {
      font-size: 180%;
      color: $blue4;
      display: inline-block;
    }
    & li:hover {
      color: orangered;
      body.dark &{
        color: orangered;
    }
    }
  }
  .view {
    margin-top: -6%;
  }
  .window-pop-up {
    margin-left: 10%;
    margin-right:65%;
    & ul {
      margin-top: -45px;
    }
    & li {
      position: relative;
      margin-left: 13%;
    }
  }
  .node {
    & img {
      width: 10%;
    }
  }
  .container-view {
    margin-top: 12%;
    margin-left: -650px;
    & .view {
      height: 400px;
    }
    & .mask {
      margin-top: 7px;
      height: 96%;
    }
    & img {
      width: 50%;
      height: 97.5%;
    }
   
    
  }
  .icons {
    position: relative;
    margin-top: -47%;
    margin-left: 55%;
    width: 40%;
    & img {
      width: 9%;
      margin:40px;
    }
    & img:hover {
      transform: scale(1.5);
    }
  }
  .aboutMe {
    margin-left: 40%;
    & h1 {
      font-size: 300%;
    }
    & p {
      font-size: 200%;
    }
  }
  .titleSkills{
    margin-top: 6%;
  }
  .skills {
    column-count: 4;
    & h3 {
      padding: 10px;
    }
  }
  #containerCub {
    margin-top: 10%;
    margin-left: 60%;
  }
  //---------------------CAROUSEL--------------------------------------------------
  .carrusel{
    margin-top: -12%;
    margin-left: 10%;
    visibility: visible;
    width: 500px;
    height: 300px;
}
.carrusel .btn-wrapper{
  display: flex;
  justify-content: space-between;
}

#img-carrusel{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 2px $blue2;
    border-radius: 10px;
}
.btn-wrapper img:hover {
  transform: scale(1.2);
}

#retroceder, #avanzar{
    display: flex;
    position: absolute;
    margin-top: 500px;
    width: 70px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    background-color: transparent;
   & img:hover{
    transform: scale(1.5);
   }
}
#retroceder {
  margin-top: -.5%;
  margin-left: -5%;
}
#avanzar {
  margin-top: -.5%;
  margin-left: 32%;
}
.container-form {
  margin-top: 5%;
}


}